##----------idea----------
*.iml
.idea/
*.ipr
*.iws
#----------Pycharm-------
venv/
##----------java-----------
target/
#----------Xcode----------
.DS_Store
#----------Clion----------
CMakeFiles/
cmake-build-debug-gcc/
cmake-build-default/
cmake-build-default-coverage/
#----------VScode------------------------
.vscode/
Cargo.toml
#----------Golang------------------------
pkg/
bin/
#----------Build-------------------------
build/