##----------idea----------
*.iml
.idea/
*.ipr
*.iws
#----------Pycharm-------
venv/
##----------java-----------
target/
#----------Xcode----------
.DS_Store
#----------Clion----------
cmake-build-debug/
cmake-build-default/
cmake-build-default-coverage/
